@model IEnumerable<Schronisko.Models.EventsModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2></h2>

<p>
    @Html.ActionLink("Dodaj", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time_end)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_user)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_dog)
        </th>
        <th>
            Kto
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time_end)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>

        @if (@Html.DisplayFor(modelItem => item.approved).ToString() == "0")
        {
            <td>
                niezatwierdzone
            </td>
        }
        else
        {
            <td>
                zatwierdzone
            </td>
        }




        <td>
            @Html.DisplayFor(modelItem => item.users.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dogs.name)
        </td>
        <td>
            Tutaj ludzie
        </td>
        <td>
            @{
                if ((Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "admin") || (Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "manager"))
                //if(Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) != "")
                {
                    @Html.ActionLink(" Edytuj  ", "Edit", new { id = item.id });
                    @Html.ActionLink(" Szczegóły  ", "Details", new { id = item.id });
                    @Html.ActionLink(" Usuń  ", "Delete", new { id = item.id });
                    @Html.ActionLink(" Zatwierdź ", "Approve", new { id = item.id });
                }
            }
        </td>
    </tr>
}

</table>
