@model IEnumerable<Schronisko.Models.EventsModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_RacesLayout.cshtml";
}

<div class="bg-text">
    <h2>Harmonogram użytkownika @User.Identity.Name </h2>

    <p>
        @Html.ActionLink("Stwórz nowe wydarzenie", "Create")
    </p>
</div>


<div>
    @foreach(var item in Model)
    {

        <div class="bg-text" style="overflow:auto;border-bottom:solid; margin-bottom:20px">
            <div style="float:left">
                <p><strong>@Html.DisplayNameFor(model => model.date):</strong> @Html.DisplayFor(modelItem => item.date) </p>
                <p><strong>@Html.DisplayNameFor(model => model.time):</strong> @Html.DisplayFor(modelItem => item.time)</p>
                <p>
                    <strong>
                        @Html.DisplayNameFor(model => model.time_end):
                    </strong>

                    @if (@Html.DisplayFor(modelItem => item.time_end).ToString().Equals(""))
                    {
                        <strong>cały dzień</strong>
                    }
                    else
                    {
                        <strong>
                            @Html.DisplayFor(modelItem => item.time_end)
                        </strong>
                    }
                </p>
                <p><strong>@Html.DisplayNameFor(model => model.description):</strong> @Html.DisplayFor(modelItem => item.description)</p>
                <p>
                    <strong>
                        @Html.DisplayNameFor(model => model.approved):
                    </strong>

                    @if (@Html.DisplayFor(modelItem => item.approved).ToString().Equals("0"))
                    {
                        <strong>niezatwierdzone</strong>
                    }
                    else
                    {
                        <strong>
                            zatwierdzone
                        </strong>
                    }
                </p>
                <p><strong>@Html.DisplayNameFor(model => model.id_user):</strong> @Html.DisplayFor(modelItem => item.users.name)</p>
                <p><strong>@Html.DisplayNameFor(model => model.id_dog):</strong> @Html.DisplayFor(modelItem => item.dogs.name)</p>

            </div>
            <div style="float:right">

                @{

                    var userList = ViewData["U"] as List<Schronisko.Users>;
                    var userEventsList = ViewData["EU"] as List<Schronisko.UsersEvents>;
                    if (userEventsList != null && userList != null)
                    {
                        foreach (var v in userEventsList)
                        {
                            if (v.id_event == item.id)
                            {
                                foreach (var usr in userList)
                                {
                                    if (usr.id == v.id_user)
                                    {
                                        <p>@usr.login</p>
                                        break;
                                    }
                                }
                            }

                        }
                    }
                    else
                    {
                        <td></td>
                    }


                    if ((Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "admin") || (Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "manager"))
                    {
                        <td>
                            @Html.ActionLink(" Edytuj  ", "Edit", new { id = item.id }) |
                            @Html.ActionLink(" Szczegóły  ", "Details", new { id = item.id }) |
                            @Html.ActionLink(" Usuń  ", "Delete", new { id = item.id }) |
                            @Html.ActionLink(" Zmień status ", "Approve", new { id = item.id })
                        </td>
                    }



                }


            </div>
        </div>




    }


</div>





@*<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.time_end)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.description)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.approved)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_user)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.id_dog)
        </th>
        <th>
            Kto
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.time_end)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.description)
        </td>
        @if (@Html.DisplayFor(modelItem => item.approved).ToString().Equals("0"))
        {
            <td>niezatwierdzone</td>
        }
        else
        {
            <td>
               zatwierdzone
            </td>
        }


        <td>
            @Html.DisplayFor(modelItem => item.users.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.dogs.name)
        </td>

        @if ((Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "admin") || (Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "manager"))
        {
            <td></td>
        }
        


        @{

            var userList = ViewData["U"] as List<Schronisko.Users>;
            var userEventsList = ViewData["EU"] as List<Schronisko.UsersEvents>;
            if (userEventsList != null && userList != null)
            {
                foreach (var v in userEventsList)
                {
                    if (v.id_event == item.id)
                    {
                        foreach (var usr in userList)
                        {
                            if (usr.id == v.id_user)
                            {
                                <td>@usr.login</td>
                                break;
                            }
                        }
                    }
                   
                }
            }
            else
            {
                <td></td>
            }


            if ((Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "admin") || (Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "manager"))
            {
                <td>
                    @Html.ActionLink(" Edytuj  ", "Edit", new { id = item.id }) |
                    @Html.ActionLink(" Szczegóły  ", "Details", new { id = item.id }) |
                    @Html.ActionLink(" Usuń  ", "Delete", new { id = item.id }) |
                    @Html.ActionLink(" Zatwierdź ", "Approve", new { id = item.id })
                </td>
            }



        }



    </tr>
    }

</table>*@
