@*@using Microsoft.AspNet.Identity
    @if (Request.IsAuthenticated)
    {
        using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
        {
            @Html.AntiForgeryToken()

            <ul class="nav navbar-nav navbar-right">
                <li>
                    @Html.ActionLink("Witaj " + User.Identity.GetUserName() + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })
                </li>
                <li><a href="javascript:document.getElementById('logoutForm').submit()">Wyloguj</a></li>
            </ul>
        }
    }
    else
    {
        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Zarejestruj się", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>
            <li>@Html.ActionLink("Zaloguj się", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
        </ul>
    }*@



@{
    var authCookie = Request.Cookies[FormsAuthentication.FormsCookieName];
    if (authCookie != null && authCookie.Value != null)
    {
        FormsAuthenticationTicket authTicket = FormsAuthentication.Decrypt(authCookie.Value);


        <ul class="nav navbar-nav navbar-right">
            <li>
                @Html.ActionLink("Witaj " + User.Identity.Name + "!", "UserDetails", "Account")
            </li>
            <li>
                @Html.ActionLink("Wyloguj się", "Logout", "Account")
            </li>
            <li></li>
        </ul>

    }

    else
    {

        <ul class="nav navbar-nav navbar-right">
            <li>@Html.ActionLink("Zarejestruj się", "Register", "Account")</li>
            <li>@Html.ActionLink("Zaloguj się", "Login", "Account")</li>
        </ul>


    }


}