@model IEnumerable<Schronisko.Models.NewsViewModel>


<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.news1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.add_date)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.user)
        </th>

    </tr>

    @foreach (var item in Model)
    {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.news1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.add_date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.user)
        </td>


        @if ((Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "admin") || (Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "manager") || (Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "worker"))
        {
            <td>

                @Html.ActionLink("Skasuj", "DeleteNews", new { id = item.id })
            </td>
        }

        </tr>


    }



</table>


@if ((Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "admin")  || (Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "manager") || (Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "worker"))
{
<p>
@Html.ActionLink("Dodaj Aktualność", "Add", "News")
</p>

}
