@model IEnumerable<Schronisko.Models.RacesModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Rasy psów</h2>
@if (Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "admin" ||
     Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "manager" ||
     Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "worker")
{
    <p>
        @Html.ActionLink("Dodaj rasę psa", "Create")
    </p>
}
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            @if (Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "admin" ||
 Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "manager" ||
 Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "worker")
            {
                <td>
                    @Html.ActionLink("Edytuj", "Edit", new { id = item.id }) |
                    @Html.ActionLink("Szczegóły", "Details", new { id = item.id }) |
                    @Html.ActionLink("Skasuj", "Delete", new { id = item.id })
                </td>
            }
            </tr>
        }

    </table>
