@model IEnumerable<Schronisko.Models.UsersEventsModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Wydarzenia</h2>

<p>
    @Html.ActionLink("Dodaj pracownika do wydarzenia", "Create")
</p>
<table class="table">
    <tr>
        <th>
           Kto
        </th>
        <th>
            Nazwisko
        </th>
        <th>
           Data rozpoczęcia
        </th>
        <th>
           Czas rozpoczęcia
        </th>
        <th>
           Czas zakończenia
        </th>
        <th>
           Opis wydarzenia
        </th>
        <th>
            Status
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Users.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Users.surname)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.date)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.time)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.time_end)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Event.description)
        </td>
        <td>
            @if (@Html.DisplayFor(modelItem => item.Event.approved).ToString().Equals("0"))
            {
                <font color="crimson">niezatwierdzone</font>
            }
            else
            {
                <font color="green">
                    zatwierdzone
                </font>
            }
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id = item.id }) |*@
            @*@Html.ActionLink("Details", "Details", new { id = item.id }) |*@
            @Html.ActionLink("Skasuj", "Delete", new { id = item.id })
        </td>
    </tr>
}

</table>
