@model Schronisko.Models.DogsModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_RacesLayout.cshtml";
}
<div class="bg-text">
    <h2>Szczegóły o psie</h2>
</div>
<div class="bg-text">
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year_of_birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year_of_birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo_path)
        </dt>

        <dd>
            <img style="display: block; margin: 20px; width:350px;height: auto; float:left " src="@Model.photo_path" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_race)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.races.name)
        </dd>

    </dl>
</div>
@{
    if ((Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "admin") || (Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "manager"))
    {
        <div class="bg-text">
            <p>
                @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
                @Html.ActionLink("Back to List", "Index")
            </p>
        </div>
        }
    }
        @*<div class="row">
                @Html.Action("RacePartial", "Races", new { id = Model.id_race })
            </div>*@
