@model Schronisko.Models.DogsModel

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Szczegóły o psie</h2>

<div>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.year_of_birth)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.year_of_birth)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.photo_path)
        </dt>

        <dd>
            <img style="display: block; margin: 20px; width:350px;height: auto; float:left " src="@Model.photo_path" />
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.description)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.description)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.id_race)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.races.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>

<div class="row">
    @*@Html.Action("RacePartial","Races", new { id = Model.id_race})*@
    @Html.Action("RacePartial", "Races", new { id = Model.id_race })
</div>
