@model IEnumerable<Schronisko.Models.DogsModel>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_RacesLayout.cshtml";
}
<div class="bg-text">
    <h2>Psy znajdujące się w schronisku</h2>
    @if (Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "admin" ||
         Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "manager" ||
         Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "worker")
    {
        <p>
            @Html.ActionLink("Dodaj psa", "Create")
        </p>
    }
</div>

    @foreach (var item in Model)
    {
        if (!item.name.Equals(""))
        {
            <div class="bg-text" style=" overflow: auto">

                <img style="display: block; margin: 20px; width:350px;height: auto; float:left " src="@item.photo_path" />

                <div style="margin-top:25px">
                    <p>
                        <h4>Imie: @Html.DisplayFor(modelItem => item.name)</h4>
                    </p>
                    <p>
                        <h4>Rok urodzenia: @Html.DisplayFor(modelItem => item.year_of_birth)</h4>
                    </p>
                    @*<p>
                @Html.DisplayFor(modelItem => item.photo_path)
            </p>*@
                    <p>
                        <h4>Opis: @Html.DisplayFor(modelItem => item.description)</h4>
                    </p>
                    <p>
                        <h4>Rasa: @Html.DisplayFor(modelItem => item.races.name)</h4>
                    </p>
                    @if (Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "admin" ||
                     Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "manager" ||
                     Schronisko.Helpers.UserHelper.GetUserRole(User.Identity.Name) == "worker")
                    {
                        <p>
                            @Html.ActionLink("Edytuj", "Edit", new { id = item.id }) |
                            @Html.ActionLink("Szczegóły", "Details", new { id = item.id }) |
                            @Html.ActionLink("Skasuj", "Delete", new { id = item.id })
                        </p>
                    }
                    </div>

            </div>
        }
    }





@*<table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.year_of_birth)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.photo_path)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.id_race)
            </th>
            <th></th>
        </tr>

    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.year_of_birth)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.photo_path)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.description)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.races.name)
            </td>
            <td>
                @Html.ActionLink("Edytuj", "Edit", new { id=item.id }) |
                @Html.ActionLink("Szczegóły", "Details", new { id=item.id }) |
                @Html.ActionLink("Skasuj", "Delete", new { id=item.id })
            </td>
        </tr>
    }

    </table>*@
